@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:wght@300&display=swap");



* {
    margin: 10px;
    padding: 0;
    border: none;
    background-color: #f6f6f6;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
}



#main-head {
    margin-bottom: 30px;
}

#dog-walk {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

h1 {

    line-height: 75px;
    display: block;


}

h2 {
    margin-bottom: 10px
}

nav {
    float: right;
    line-height: 75px;

}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;


}

#nav-bar a {
    color: black;
}

#cover-text {
    font-size: 100%;
    font-family: Inter, sans-serif;
    letter-spacing: 4px;

    width: 350px;
    height 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(143, 153, 142, 0.5);

    bottom: 250px;
    right: 200px;

    position: absolute;
}

#cover-text h2 {
    background-color: rgba(143, 153, 142, 0.5);
}

#cover-text h3 {
    background-color: rgba(143, 153, 142, 0.5);
}

#second-heading {
    margin-bottom: 15px;
}



#facilities {
    display: inline-block;
}

#obedience {
    float: left;
}

#Playground {
    float: center;
}

#coffee {
    float: right;
}

.trio-images {
    width: 90%;
    height: 250px;

}

.container {
    column-count: 3;
    margin-top: 30px;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;


}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;

}